In [ ]:
=print("DM 수업입니다")

DM 수업입니다

**리스트와 튜플의 공통점**

---


(1) 길이를 갖는다

---
튜플과 리스트는 길이가 있다. 따라서 len 함수를 사용할 수 있다.

In [ ]:
a = [1,2,3]
b = (1,2,3)

print('a의 길이 : ', len(a))
print('b의 길이 : ', len(b))

a의 길이 :  3
b의 길이 :  3

(2) 언패킹이 가능하다

---

언패킹 : 여러 변수를 한 번에 할당하는 것

In [ ]:
a = [1,2,3] #리스트
b = (4,5,6) #튜플

type(a)
type(b)

print(a)
print(b)

#언패킹
x1, x2, x3 = a
y1, y2, y3 = b

print(x1, x2, x3)
print(y1, y2, y3)

[1, 2, 3]
(4, 5, 6)
1 2 3
4 5 6

(3) index, count 함수를 사용할 수 있다.

---

튜플과 리스트는 객체 내부에 index와 count를 사용할 수 있다.

In [ ]:
a = [1,1,3]
b = (4,5,5,5)

print(a.index(3)) #리스트 a에서 3의 인덱스는? (위치는?)
print(a.count(1)) #리스트 a에서 1의 등장 횟수

print(b.index(4)) #튜플 b에서 7의 인덱스?
print(b.count(5)) #튜플 b에서 9의 등장 횟수

2
2
0
3

**리스트와 튜플의 차이점**

---
(1) 선언 방식이 다르다

---


리스트는 각 괄호 []를 이용하고 두 개 이상의 원소를 갖는다면 콤마로 구분해줘야 한다. 하지만 튜플은 괄호 ()를 사용한다. *만약 원소가 한 개인 경우에는 반드시 뒤에 콤마를 붙여주어야 한다.*

In [ ]:
a = [3]
b = (3,)
c = [3,4,5]
d = (3,4,5)
e = (3)

print(a)
print(b)
print(c)
print(d)
print(e)

[3]
(3,)
[3, 4, 5]
(3, 4, 5)
3

(2) 리스트는 가변이지만 튜플은 불변이다.

---
리스트는 append, insert 같은 함수가 있어서 리스트에 원소를 추가할 수 있으며 sort를 이용하여 내부적으로 정렬도 할 수 있다. 따라서 리스트는 변할 수 있는 가변성을 띄고 있다. 하지만 튜플은 불변이라 튜플을 바꾸는 함수가 없다.

In [ ]:
a = [1,2,3]
a[0] = 4
print(a)

[4, 2, 3]

In [ ]:
b = (1,2,3)
b[0] = 4
print(b)

TypeError: 'tuple' object does not support item assignment

(3) 튜플이 더 적은 메모리를 차지한다.

In [ ]:
from sys import getsizeof

a = [1,2,3]
b = (1,2,3)

print(f'리스트 a의 용량 : {getsizeof(a)} 바이트')
print(f'튜플 b의 용량 : {getsizeof(b)} 바이트')

리스트 a의 용량 : 88 바이트
튜플 b의 용량 : 64 바이트

f-string : f'문자열'
---
문자열 내부에 변수의 내용을 사용할 경우 {변수}

---

문자열 내부에 실수인 변수를 소수점 처리할 경우 {실수변수:.소수점자리f}

In [ ]:
#문자열
company = '현대'

#정수형
sale = 551

#실수형
rate = 46.525

#출력
print('자동차의 판매량은  이고,  %점유율을 차지한다')
print('{company} 자동차의 판매량은  이고,  %점유율을 차지한다')
print(f'{company} 자동차의 판매량은  이고,  %점유율을 차지한다')

자동차의 판매량은  이고,  %점유율을 차지한다
{company} 자동차의 판매량은  이고,  %점유율을 차지한다
현대 자동차의 판매량은  이고,  %점유율을 차지한다

Quiz

---
f스트링을 활용하여 판매량, 점유율(소수 첫째자리 표시)이 반영되도록 코딩을 완성하라.

In [ ]:
company = '현대'
sale = 551
rate = 46.525

print(f'{company} 자동차의 판매량은 {sale}이고, {rate: .1f} %점유율을 차지한다.')

현대 자동차의 판매량은 551이고,  46.5 %점유율을 차지한다.

컬렉션 자료형

---

sequence(리스트, 튜플, 문자열) : list, [], 위치값(순서)으로 접근

---

none sequence(집합, dictionary) : 딕셔너리, {}, 키와 값으로 접근

In [ ]:
lt = [1,3,5]
lt[0]

1

In [ ]:
#리스트
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

#요소접근
print(f'  자동차의 판매량은   입니다.')

#내장함수 사용
print(f'판매량의 평균은   입니다.')

  자동차의 판매량은   입니다.
판매량의 평균은   입니다.

In [ ]:
#리스트
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

#요소접근
print(f'{company[0]} 자동차의 판매량은 {sale[0]} 입니다.')

#내장함수 사용
print(f'판매량의 평균은 {sum(sale)/len(sale) : .1f}  입니다.')

현대 자동차의 판매량은 551 입니다.
판매량의 평균은  237.2  입니다.

# **점유율 구하기** 어려움 ㅠㅠ

In [ ]:
#리스트
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

#점유율 리스트 생성 (비어있는 상태)
rate = []

#전체 판매율 계산
total = sum(sale)

#점유율 구하기 (점유율 리스트 채우기)
for idx in range(len(sale)) : #0부터4까지1씩증가
  #리스트에 반올림하여 자료 추가 (append함수)
  rate.append(round(sale[idx]/total*100,1)) #round(변수,소수점반올림자릿수)

#출력
print(f'시장점유율(%) : {rate}')

시장점유율(%) : [46.5, 32.7, 4.7, 5.0, 11.1]

# **QQQQ**

---

total을 정의 안했는데 왜 결과가 나오는지?

In [ ]:
#방법2 : 컬렉션 형태
sale = [551,388,56,59,132]
rate = []

for item in sale :
  rate.append(round(item / total *100,1))

print(f'시장점유율(%): {rate}')

시장점유율(%): [46.5, 32.7, 4.7, 5.0, 11.1]

Quiz : 에러코드 확인 후, 수정하세요

In [ ]:
#딕셔너리 (키, 값으로 구분)
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

#리스트를 결합하여 딕셔너리 생성
carData = dict(zip(company,sale)) #zip(리스트1,리스트2) 리스트 결합

#딕셔너리 확인
print(carData)

#현대 판매량
print(f'현대자동차의 판매량은 {carData ['현대']} 입니다')

SyntaxError: f-string: unmatched '[' (<ipython-input-19-33afda0f4b48>, line 12)

오류 수정!! f'문자열' 에서는 "를 사용 왜냐하면 '문자열'애서 이미 ''를 사용중이기 때문에

In [ ]:
#딕셔너리 (키, 값으로 구분)
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

#리스트를 결합하여 딕셔너리 생성
carData = dict(zip(company,sale)) #zip(리스트1,리스트2) 리스트 결합

#딕셔너리 확인
print(carData)


print(f'현대자동차의 판매량은 {carData ["현대"]} 입니다')

{'현대': 551, '기아': 388, '르노삼성': 56, '쌍용': 59, '쉐보레': 132}
현대자동차의 판매량은 551 입니다

In [ ]:
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

carData = dict(zip(company,sale))

#key, value를 리스트로 생성 : 에러코드 확인
print(f'{carData.key()}')
print(f' {carData.value()}')

AttributeError: 'dict' object has no attribute 'key'

In [ ]:
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

carData = dict(zip(company,sale))

#key, value를 리스트로 생성 : 에러코드 수정
print(f'키: {carData.keys()}')
print(f'값:  {carData.values()}')

키: dict_keys(['현대', '기아', '르노삼성', '쌍용', '쉐보레'])
값:  dict_values([551, 388, 56, 59, 132])

In [ ]:
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

carData = dict(zip(company,sale))

#리스트 형태로 변환
print(f'키: {list(carData.keys())}')
print(f'값:  {list(carData.values())}')

키: ['현대', '기아', '르노삼성', '쌍용', '쉐보레']
값:  [551, 388, 56, 59, 132]

In [ ]:
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

carData = dict(zip(company,sale))

#딕셔너리 값의 합계 구하기
total = sum(carData.values())

#딕셔너리 전체요소 접근(1) : key로 접근
for k in carData :
  print(k,carData[k]) #catData[k]= k번째(key)의 값(value)

현대 551
기아 388
르노삼성 56
쌍용 59
쉐보레 132

In [ ]:
company = ['현대','기아','르노삼성','쌍용','쉐보레']
sale = [551,388,56,59,132]

carData = dict(zip(company,sale))

#딕셔너리 전체요소 접근(2) : items함수 활용, list 형식으로
for [k,v] in carData.items():
  print(k,v)

현대 551
기아 388
르노삼성 56
쌍용 59
쉐보레 132

In [ ]:
#딕셔너리 값의 한계 구하기
total = sum(carData.values())

for [k,v] in carData.items() :
  r = round(v/total*100,1)
  print(f'{k}: 판매량은 {v},점유율은 {r:.1f}%입니다.')

현대: 판매량은 551,점유율은 46.5%입니다.
기아: 판매량은 388,점유율은 32.7%입니다.
르노삼성: 판매량은 56,점유율은 4.7%입니다.
쌍용: 판매량은 59,점유율은 5.0%입니다.
쉐보레: 판매량은 132,점유율은 11.1%입니다.

In [ ]:
#점유율 딕셔너리
rateDt = {}

#딕셔너리 값의 합계
total = sum(carData.values())

#딕셔너리 전체요소 접근
for [k, v] in carData.items() :
  r = round(v/total*100,1)
  rateDt[k] = r

print(f'점유율 Dictionary : {rateDt}')

점유율 Dictionary : {'현대': 46.5, '기아': 32.7, '르노삼성': 4.7, '쌍용': 5.0, '쉐보레': 11.1}

In [ ]:
for [k,v] in carData.items() :
  print(f'{k} : 판매량은 {v}, 점유율은 {rateDt[k]:.1f}% 입니다.')

현대 : 판매량은 551, 점유율은 46.5% 입니다.
기아 : 판매량은 388, 점유율은 32.7% 입니다.
르노삼성 : 판매량은 56, 점유율은 4.7% 입니다.
쌍용 : 판매량은 59, 점유율은 5.0% 입니다.
쉐보레 : 판매량은 132, 점유율은 11.1% 입니다.