1. 학생수준평가 시험에서 영어 점수와 수학 점수가 합해서 100점이 넘으면 합격(PASS)이지만, 한 과목 점수가 40점 미만이라면 과목 미달로 불합격(FAIL)이다. 영어, 수학 점수를 입력받아 합격 여부를 출력한다

---
입력 : 첫 번째 입력값이 영어점수 두 번째 입력값이 수학점수이다

---

출력 : 각 점수에 따라 결과가 다르게 출력된다

---

sample 1 In: 65 75 Out : PASS

---

sample 1 In: 35 69 Out : ENG FAIL

In [6]:
eng = int(input())
math = int(input())

def scores(eng,math):
  total = eng + math

  if total >= 100:
    if eng >=40 and math >= 40:
      return "PASS"
    elif eng < 40:
      return "ENG FAIL"
    else:
      return "MATH FAIL"
  else :
    return "FAIL"

final = scores(eng,math)
print(final)

35
69
ENG FAIL

2. N개의 숫자가 공백없이 입력된다. 이 숫자를 모두 합쳐서 합을 출력하는 프로그램을 작성하시오.

---
입력 : 첫째 줄에 숫자 N개가 공백없이 주어진다

---
출력 : 입력으로 주어진 숫자 N개의 합을 출력한다

---

sample 1 In: 1 Out : 1

In [7]:
numbers = input()
#문자열 리스트를 출력하면 한 글자씩 나온다는 걸 이용하기 !!!!
total = sum(int(x) for x in numbers)
print(total)

1829
20

3. 다음 리스트에서 확장자가 png나 jpg인 파일명, 확장자를 출력하는 파이썬 코드를 작성하세요

---
입력 : 첫째 줄에 숫자 N이 주어진다. 둘째 줄부터 N줄에는 파일명이 하나씩 주어진다.

---

(힌트: a=[input()for _ in range()] 또는 map 함수)

---

출력 : 결과가 리스트로 출력된다

---

sample 1
4
alpha.hwp
bravo.doc
charlie.xlxs
delta.jpg
Out : ['delta.jpg']

---

sample2
9
alpha.hwp
bravo.doc
charlie.xlxs
delta.jpg
echo.png
foxtrot.ppt
golf.pdf
hotel.html
india.txt
Out :['delta.jpg','echo.png']

In [9]:
N = int(input())

names = [input() for _ in range(N)]

result = [name for name in names if name.endswith(".png") or name.endswith(".jpg")]

print(result)

4
alpha.hwp
bravo.doc
charlie.xlxs
delta.jpg
['delta.jpg']

In [10]:
N = int(input())

names = [input() for _ in range(N)]

result = [name for name in names if name.endswith(".png") or name.endswith(".jpg")]

print(result)

9
alpha.hwp
bravo.doc
charlie.xlxs
delta.jpg
echo.png
foxtrot.ppt
golf.pdf
hotel.html
india.txt
['delta.jpg', 'echo.png']